
// ********** DELETE BUTTON **********
article {
  position: relative;

  a {
    text-decoration: none;
  }

  .delete {
    position: absolute;
    /*color: black;*/
    color:#f3493d;
    z-index: 3;
    top: -5px;
    right: -7px;
    /*background: #f3493d;*/
    padding: 1px;
    height: 25px;
    vertical-align: bottom;
    width: 25px;
    font-size: 14px;
    /*border-radius: 20px;
    border: 1px solid #000000;*/
    cursor: pointer;
  }
}

.deleteIcon {
  color: #ff5f54;
  font-size: 25px !important;


  &:hover,
  &:active {
    font-size: 29px !important;
    color:  #ff3021;
    transition: all 0.1s ease-in-out;
  }
}

.dontAnyPost {
  width: 100%;
  font-size: 22px;
  padding: 10px;
  font-weight: 100;
  margin-top: 31px;
  color: #cdcdcd;
}

// ********** INSIDE POST **********
.posts {
    padding: 15px 20px;
    width: 100%;
    background-color: #3f3f42;
    //border-radius: 0.65em;
    border-radius: 18px 18px 12px 12px;
    min-height: 250px;
    max-height: 250px;
    position: relative;
    z-index: 2;
    border: 1px solid black;
  
    span {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: 20px;
      color: #e6e2df;
      width: 348px;
      width: 100%;
    }
  
    h2  {
      margin: 0px 0px 20px 0px;
      font-size: 27px;
      border-bottom: 1px solid #f28d5226;
      padding-bottom: 16px;
      color: white;
      text-shadow: 0px 0px 3px #f28d52;
      font-weight: 600;
      text-transform: uppercase;
      overflow: hidden;
      width: 100%;
      max-width: 375px;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0 auto;
      margin-bottom: 20px;


  
    }
  
    .date {
      position: absolute;
      bottom: 16px;
      left: -11px;
      padding: 5px;
      font-size: 13px;
      background: #a86d4a;
      border-radius: 0px 2px 2px 2px;
      color: black;
      //border-bottom-left-radius: 150px;
      //border-bottom-right-radius: 150px;
    }
  
    .time {
      position: absolute;
      bottom: -10px;
      left: -10px;
      padding: 3px;
      font-size: 10px;
      background: #4a92a8;
      border-radius: 0px 2px 2px 2px;
      color: black;
  
    }
  
    p:nth-of-type(1) {
      color: #ffc19d;
      opacity: 0;
      position: absolute;
      top: 50%;  /* position the top  edge of the element at the middle of the parent */
      left: 50%; /* position the left edge of the element at the middle of the parent */
      display: none;
      border: 1px solid #47433e;
      padding: 12px 0;
      width: 70%;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      border-radius: 2px;
      overflow: hidden;
    }
  
    p:nth-of-type(1) > span {
      font-size: 12px;
      margin: 5px 0;
      font-weight: 300;
    }


    // HOVER
  
    &:hover {
      transition: all .2s;
      transform: scale(1.08);
      p:nth-of-type(1),
      p:nth-of-type(1) > span {
        opacity: 1;
        display: block;
        position: relative;
      }
  
      p:nth-of-type(1) {
        margin: 0;
        position: absolute;
        top: 50%;  /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
    
        transform: translate(-50%, -50%);
        animation: showoredit 0.25s linear;
      }
      .date {
        background: #db9064;
      }
  
      .time {
        background: #66bfdb;
      }
  
        h2,
        span{
          opacity: 0;
        }
  
        &::before {
          content: ' ';
          background: rgba(0, 0, 0, 0.35);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 18px 18px 12px 12px;
        }
    }
  
  }

  // ********** Block after TIME / DATE **********
  .afterDate {
    display: block;
    width: 28px;
    height: 17px;
    background: #a86d4a;
    position: absolute;
    transform: rotate(70deg);
    bottom: 26px;
    left: -11px;
    z-index: 1;
  }

  .afterTime {
    display: block;
    width: 16px;
    height: 15px;
    background: #4a92a8;
    position: absolute;
    transform: rotate(70deg);
    bottom: -2px;
    left: -7px;
    z-index: 1;
  }
  
  // ********** Padding on every post **********
  .gridPost {
    padding:20px;
  }